*
{
    margin: 0; padding: 0;box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif; 
}
header{
    width: 100%; height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('brgy.image.jpg.jpg');
    background-repeat: no-repeat;
    background-size: cover   
}

nav{
    width: 100%; 
    height: 15vh;
    background: rgba(0,0,0,0.2);
    color: rgb(161, 101, 101); 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    text-transform: uppercase;
}
nav .logo{
    float: left;
    padding: 35px;
}

nav .menu{
    width: 40%; 
    display: flex; 
    justify-content: space-around;
}

nav .menu a {
    width: 25%;
    text-decoration: none; 
    color:blanchedalmond;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;

}

nav .menu a:first-child{
    color: whitesmoke;
    
}


main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: white;
    text-shadow: 1px 1px 2px black;

   
}


section h3{
    font-size: 40px; font-weight: 400; letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;

}

section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 500;
    text-shadow: 3px 2px 6px black;
    text-transform: uppercase;

}

section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 2x 1px 4px black;
}

section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;

}

section .btnone{
    background: black;
    color: white;
}

.btnone:hover{
    background: white;
    color: black;
    font-weight: bold;

}

